<a href="https://colab.research.google.com/github/RobertoMel36/Metodos-numericos/blob/main/LunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

Hola Mundo

In [3]:
print("Hola", "Mundo")
 
print("Hola" + "Mundo")
 
print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo
 
print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [5]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))
print (f"Mi nombre es {nombre} y estudo en {carrera} dentro de la FES")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón
Mi nombre es José y estudo en ICO, la mejor dentro de la FES

In [6]:
nombre = "José"
carrera = "ICO, la mejor"
print(f"Mi nombre es { nombre} y estudio { carrera } en la FES Aragón")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón

In [7]:
"""
este es
un 
comentario de
múltiple línea
"""

'\neste es\nun \ncomentario de\nmúltiple línea\n'

In [8]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [44]:
potencia

125

In [9]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [45]:
menor_o_igual_que

False

In [11]:
# Operadores lógicos
y = True and True  # False
o = True or False  # True
no = not True  # False

In [15]:
False or (True and False)

False

In [22]:
saludo = "Hola Mundo"
cita = 'Los alumnos\n de ICO\t\t dicen: "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [23]:
print(cita)

Los alumnos
 de ICO		 dicen: "Hola Mundo"

In [28]:
def fn_uno():
    print("Hola jasjka")
 
a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
print(c)
c.__call__()

10
Hola
<function fn_uno at 0x7f6f2ee7c3a0>
Hola jasjka

In [29]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Romelx
Hola Romelx!

In [30]:
numero = int(20)
print (numero)

20

In [33]:
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad +1} años")

Introduce tu edad:21
Romelx tiene 22 años

In [34]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [40]:
imaginario

(3+4j)

In [42]:
#.           0.         1.         2.
#            -3.        -2.       -1.
frutas = ['limon' ,'aguacate', 'fresa']
print(frutas[2])
print(frutas[-1])

fresa
fresa

In [43]:
cosas = ['limon', 10, 3.1416, True, [1, 2, 3, 4], 'hola']
print(cosas)

['limon', 10, 3.1416, True, [1, 2, 3, 4], 'hola']

#Slicing en Python
[inicio: stop: step]

Es la posibilidad de obtener rebanadas
a partir de un tipo de dato lista o tupla, en general de un iterable. Un tipo de datto String es un iterable.
Por defecto
inicio= 0
stop= al tamaño de la variable
step= 1

In [46]:
ejemplo = [1,2,3,4,5,6, 'a', 'b', 'c', 'd', 'e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [53]:
rebanada = ejemplo[6: 9: 2]
print(rebanada)

['a', 'c']

In [59]:
frutas_dos = ('Aguacate', 'Limon', 'Naranja')
print(frutas)
print(frutas_dos)

frutas[1] = 'Piña'
#frutas_dos[1] = 'Piña' No es inmutable 

print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[0:2:1])

['limon', 'Piña', 'fresa']
('Aguacate', 'Limon', 'Naranja')
Piña
Limon
('Aguacate', 'Limon')

#Diccionario Teoría
1. Es un conjunto de pares llave valor
1. Agrupados por dos puntos ':'
1. La llave siempre es de tipo String
1. El valor puede ser de cualquier tipo
2. El selector es de la froma ['Llave']
1. Mutable
1. Se declara entre los caracteres '{y}'
1. Los pares estan separados por comas

In [76]:
alumno = {'numero_de_cuenta' : 1234233, 'carrera' : 'ICO',
            'Direccion' : {'calle' : 'rancho seco', 'numero': 23}
          }
print(alumno['Direccion']['numero'])
print(alumno['Direccion']['calle'][3:6:1])

23
cho